.mainContent {
  width: 100%;
  background-color: hsl(210, 29%, 25%);
  border-radius: 20px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 90px;
}

.profileContent {
  width: 70%;
  height: 100%;
  color: hsl(192, 15%, 99%);
}

.img {
  width: 100%;
  max-width: 130px;
  border-radius: 50%;
}

.pContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company {
  height: 30px;
  font-size: 10px;
  color: hsl(204, 70%, 53%);
}

.thisProfile {
  position: relative;
  top: 1px;
  font-size: 15px;
  color: hsl(184, 6%, 62%);
  font-weight: 100;
}

.followers {
  box-sizing: border-box;
  background-color: hsl(211, 15%, 50%);
  border-radius: 10px;
  position: relative;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.follow {
  height: 70px;
  position: relative;
  bottom: 15px;
}

.following {
  font-size: 17px;
  font-weight: 500;
}

.textlocation {
  font-size: 15px;
  font-weight: 500;
}

.none {
  visibility: hidden;
  opacity: 0;
}

.fullContent {
  display: grid;
  grid-template-areas:
    "location twitter"
    "blog depart";
  position: relative;
  top: 30px;
}

.location {
  grid-area: "location";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3vw;
}

.blog {
  grid-area: "blog";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3vw;
}

.twitter {
  grid-area: "twitter";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.3vw;
}

.depart {
  grid-area: "depart";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 57px;
}

@media screen and (max-width: 815px) {
  .pContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .h3 {
    position: relative;
    bottom: 25px;
  }

  .h31 {
    position: relative;
    bottom: 45px;
  }

  .thisProfile {
    position: absolute;
    top: 455px;
    z-index: 9999;
  }

  .company {
    height: 0px;
  }

  .fullContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    top: 2px;
  }
  .depart {
    right: 0px;
  }

  .followers {
    position: relative;
    top: 10px;
  }
}
